@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-[16px] font-normal font-roboto;
}

h1 {
  @apply font-changaOne text-5xl;
}

h2 {
  @apply font-changaOne text-[39px] text__secondary;
}

h3 {
  @apply font-changaOne text-2xl text__secondary;
}

span {
  @apply text__primary;
}

p {
  @apply text__secondary font-roboto text-base text-[#434343] leading-8;
}

img {
  @apply rounded-lg;
}

li {
  @apply text-[#495367];
}

li :active {
  @apply text__primary;
}

nav li {
  @apply scale-95 hover:scale-100 duration-200;
}

.color__primary {
  @apply bg-[#8A53FF];
}

.color__secondary {
  @apply bg-[#434343];
}

.text__primary {
  @apply text-[#8A53FF];
}

.text__secondary {
  @apply text-[#434343];
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Styling untuk popup overlay */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Styling konten popup */
.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

/* Styling input search */
.search-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Tombol close */
.close-btn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.open-search-btn {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
